body {
    margin: 0;
    box-sizing: border-box;
}

.top {
background-color: #1f2937 ;
color: white;
height: 500px;
}

.title {
    display: flex;
    gap: 20px   ;
    padding-left: 250px;
    padding-right: 250px;
    
}

.header.one {
   margin-right: auto;
   font-size: 24px;
}

.header.two, .header.three, .header.four {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white;
}

.contentone {  
    display: flex;
    height: 700px;     
    align-items: center;
    gap: 150px      ;
    padding-left: 250px;
   background-color: #1f2937 ;
   
}

.words {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.writing {
    font-size: 48px;
    font-weight: bold;
}

button {
    background-color: rgb(0, 119, 255);
    color: white;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 20px;
    padding-left: 20px ;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
}

img {
    width: 500px;
    border-radius: 15px;
}

.second {
    height: 400px;   
}

.second p {
    color: #1f2937;
}


.title-two {
    color: black;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 36px;
    font-weight: bold;
}

.boxes {
    display: flex;  
    justify-content: center;   
    gap: 40px;
    
}

.box p {
    text-align: center;  
}

.box img {
    width: 250px;
    height: 200px;  
    object-fit: cover;
    border-radius: 15px;
    border: 4px solid blue;
}

.third {
    height: 300px;
    background-color: #e5e7eb;
     display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
}

.quote {
    font-style: italic;
    color: #1f2937 ;
    font-size: 36px;
    margin: 0;
    width: 650px;
}

.name {
    color: #1f2937 ;
    font-size: 30px;
    margin: 0;
    align-self: flex-end;
    width: 650px;
    font-weight: bold;
}

.fourth {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.bluebox {
    height: 150px;
    width: 800px;
    background-color: #3882f6;
    border-radius: 15px;
    display: flex;
    justify-content: space-around  ;
    align-items: center;
}


.textbluebox {
   
    margin: 0px;
}

.boxtextbig {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
}

.signupbutton button {
    background-color: #3882f6;
    border:  solid  white;
}

.footer {
    height: 100px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footertext {
    font-size: 20px;
}


